{% extends 'base.html.twig' %}

{% block title %}My tickets{% endblock %}

{% block body %}
  <table class="table">
    <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>DepartsAT</th>
      <th>ArrivesAT</th>
      <th>Plane</th>
      <th>Status</th>
      <th>BoughtAt</th>
      <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
      <tr>
        <td>{{ ticket.flight.airportFrom }}</td>
        <td>{{ ticket.flight.airportTo }}</td>
        <td>{{ ticket.flight.departsAT|format_datetime('medium', 'short') }}</td>
        <td>{{ ticket.flight.arrivesAT|format_datetime('medium', 'short') }}</td>
        <td>{{ ticket.flight.plane }}</td>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.createdAt ? ticket.createdAt|format_datetime('medium', 'short') : '' }}</td>
        <td>
          {% if ticket.status == 'paid' %}
            {{ include('ticket/_delete_form.html.twig') }}
          {% else %}
            <a class="btn btn-primary" href="{{ path('ticket_buy_existing', {'id': ticket.id}) }}">Buy</a>
          {% endif %}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="5">no tickets found</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}